@media screen and (max-width: 990px) {
    .left {
        order: 2;
    }

    .right {
        margin-bottom: 20px;
        min-height: 30vh;
    }
}

.right {
    display: grid;
    place-items: center;
}