@media screen and (max-width: 990px) {
    .left {
        order: 2;
    }

    .right {
        margin-bottom: 20px;
        display: grid;
        place-items: center;
        border: 1px solid red;
        height: 300px;       
    }

    .right > .photo {
        height: 100%;
    }
}

.right {
    display: grid;
    place-items: center;
}