.card {
    background-size: cover;
    object-fit: cover;
    height: 300px;
    cursor: pointer;
    max-width: 300px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.card:hover {
    opacity: 0.7;
    transition: 0.35s ease-in-out;
}