.right {
    display: grid;
    place-items: center;
}

.photo {
    width: 100%;
    object-fit: cover;
    border: 0.7em solid; 
}

.photo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }