.photo {
    height: 450px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.7em solid; 
    border-radius: 100%;
}

.photo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }