footer {
    padding: 50px 0;
    background-color: var(--card-sectionning-background-color);
    border-top: thin solid var(--muted-border-color);
    transition: 0.15s ease-in-out;
}

footer .container {
    text-align: center;
}