*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--background-color);
  transition: 0.15s ease-in-out;
}