nav {
    margin-bottom: 60px;
    border-bottom: thin solid var(--muted-border-color);
    box-shadow: 0 1px 0 var(--nav-border-color);
    backdrop-filter:  blur(20px);
    -webkit-backdrop-filter:  blur(20px);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: 0.15s ease-in-out;

    background-color: var(--nav-background-color);
}

a {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}